body{
  background: AliceBlue;
  text-align: center;
  border-top: 2px solid black;
  font-weight: bold;
  margin-left: 90px;
  margin-right: 90px;
  font-family: Times New Roman;
}
ul{
  list-style-type: none;
}
.header-menu li{
  display: inline;
  text-align: center;
}
.about{
  font-style: italic;
  font-weight: bold;
}
.portfolio{
  font-weight: bold;
  text-decoration: underline;
}
h1{
  font-weight: bold;
  font-size: 50px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  border-left: 80%;
  border-right: 80%;
}
.profile-picture{
  float: right;
  margin: 0 0 10px 10px;
  width: 170px;
  height: 170px;
  margin-right: 200px;
}
.img-portfolio{
  float: none;
  display: inline-block;
  width: 360px;
  height: 300px;
}
.experience{
  text-align: left;
}
footer{
  border-bottom: 2px solid black;
}
.bio{
  border-left: 100px;
  margin-left: 200px;
}
.gallery li{
  display: inline-block;
}
.gallery{
  border-bottom: 1px solid black;
}
.body-portfolio{
  margin-left: 50px;
  margin-right: 50px;
}

.summary-experience{
  border-bottom: 1px solid black;
}
